name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: self-hosted
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: install dependency
        run: |
          pip install .
          pip install pytest onnxruntime
          pip install pytest pytest-xdist onnxruntime timm torchvision --no-cache-dir --extra-index-url https://download.pytorch.org/whl/cpu

      - name: yolo test
        if: matrix.python-version <= '3.11'
        run: |
          pip install ultralytics
          pytest tests/test_yolo.py -sv  

      - name: onnxslim api and binary test
        run: |
          pip install onnxconverter_common
          pytest tests/test_onnxslim.py 

      - name: model zoo test
        run: |
          python -m pip install --upgrade pip wheel setuptools
          pytest tests/test_modelzoo.py

      - name: pattern matcher test
        run: |
          pytest tests/test_pattern_matcher.py

      - name: pattern generator test
        run: |
          pytest tests/test_pattern_generator.py
