name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: install dependency
        run: |
          pip install .
          pip install pytest onnxruntime

      - name: yolo test
        run: |
          pip install pytest pytest-xdist onnxruntime timm torchvision --no-cache-dir --extra-index-url https://download.pytorch.org/whl/cpu
          pip install ultralytics
          pytest tests/test_yolo.py -sv

      - name: model zoo test
        run: |
          python -m pip install --upgrade pip wheel setuptools
          pytest tests/test_modelzoo.py

      - name: pattern matcher test
        run: |
          pytest tests/test_pattern_matcher.py

      - name: pattern generator test
        run: |
          pytest tests/test_pattern_generator.py
